* {
   font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
   color: #000000;
}

nav {
   height: 53px;
   background: #212121;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
   display: flex;
   justify-content: space-between;
   padding: 13px 70px;
   margin: 0;
   list-style-type: none;
}

.menu .menu_link {
   color: #FFFFFF;
   font-weight: 300;
   font-size: 15px;
   text-decoration: none;
}

.menu .menu_item {
   border-right: 2px dotted black;
   padding-right: 28px;
}

.menu .menu_item:last-child {
   border-right: none;
   padding-right: 0px;
}

.subheader {
   height: 84px;
   background: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
   display: block;
   max-width: 100%;
   margin-top: 16px;
}

.subheader .subheader_official {
   margin-top: 6px;
   font-weight: 100;
   font-size: 13px;
   color: white;

}

.subheader .subheader_call {
   color: white;
   font-size: 12px;
   font-weight: 300px;
   margin-top: 19px;
   text-align: right;
}

.subheader .subheader_phone {
   display: block;
   margin-top: 8px;
   color: white;
   font-weight: 400;
   font-size: 22px;
   line-height: 12px;
   text-align: right;
   text-transform: uppercase;
}

.subheader .sunheader_btn {
   margin-top: 19px;
   width: 172px;
   height: 46px;
   background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
   box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
   border: none;
   border-radius: 4px;
   font-weight: 400;
   font-size: 14px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}