.choise {
   height: 900px;
   padding-bottom: 137px;
   background: url(../img/bg/mobile_bg.png) center (center / cover) no-repeat;

   @media (max-width: $xs) {
      height: 390px;
   }

   &__all {
      margin-top: 56px;

      @media (max-width: $xs) {
         margin-top: 27px;
         margin-bottom: 31px;
      }
   }

   &__car {
      display: block;
      height: 480px;
      margin: 0 auto;
      position: relative;
      padding-top: 54px;

      @media (max-width: $xl) {
         height: 50vw;
      }

      @media (max-width: $md) {
         padding-top: 0;
      }

      @media (max-width: $xs) {
         height: 190px;
         padding-top: 0;
      }
   }

   &__descr {
      font-size: 17px;
      line-height: 24px;
      color: #222222;
      text-align: center;

      @media (max-width: $xs) {
         font-weight: 300;
         font-size: 17px;
         color: #FFFFFF;
         padding: 0 23px;
      }
   }

   &__bg {
      background: #070716;
      position: absolute;
      left: 0;
      height: 490px;
      width: 100%;

      @media (max-width: $md) {
         height: 390px;
      }
   }
}