.hamburger {
   display: none;

   @media (max-width: 767px) {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 12px;
   }

   span {
      transition: 0.5s all;
      cursor: pointer;
      @media (max-width: 767px) {
         display: block;
         height: 2px;
         width: 100%;
         background-color: #fff;
         margin-bottom: 3px;
      }
   }

   &__active {
      span {
         margin-bottom: -2px;
         &:nth-child(1) {
            transform: translateY(3px) rotate(-45deg);
         }
         &:nth-child(2) {
            display: none;
         }
         &:nth-child(3) {
            transform: translateY(3px) rotate(+45deg);
         }
      }
   }

}