//Компонент .label
.label {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px auto 33px auto;
   font-weight: 400;
   font-size: 11px;
   text-transform: uppercase;
   color: #ffffff;
   width: 115px;
   min-height: 27px;
   background: #000000;
}