//Компонент .label
.label {
   padding: 0.5em 1em;
   font-weight: 400;
   font-size: 11px;
   text-transform: uppercase;
   color: #ffffff;
   width: 110px;
   min-height: 27px;
   background: #000000;
   margin: 0 auto;
   margin-bottom: 33px;
}
.label_white {
   background:white;
   color:black;
   position: relative;
   margin-top: 55px;

}