//Компонент .menu
.menu {
   display: flex;
   justify-content: space-between;
   padding: 13px 70px;
   margin: 0;
   list-style-type: none;

   &__item {
      border-right: 2px dotted black;
      padding-right: 28px;

      &:last-child {
         border-right: none;
         padding-right: 0px;
      }
   }

   &__link {
      color: #ffffff;
      font-weight: 300;
      font-size: 15px;
   }
}