//Компонент .navigation
.navigation {
   height: 53px;
   background: #212121;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   position: fixed;
   width: 100%;
   z-index: 2;
}