.navigation {
   height: 53px;
   background: #212121;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   position: fixed;
   width: 100%;
   z-index: 5;

   @media (max-width: 575px) {
      height: 30px;
   }
}

.menu {
   display: flex;
   justify-content: space-between;
   padding: 13px 70px;
   margin: 0;
   list-style-type: none;

   @media (max-width: 767px) {
      position: fixed;
      flex-direction: column;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0, 0, 0, .8);
      justify-content: center;
      align-items: center;
      transition: 0.6s all;

      @media (max-width: 575px) {
         width: 70%;
      }
   }

   &__active {
      left: 0;
   }

   &__item {
      border-right: 2px dotted black;
      padding-right: 28px;

      @media (max-width: 1200px) {
         padding-right: 20px;
      }

      @media (max-width: 767px) {
         padding-right: 0;
         border: none;
         margin: 10px 0;
      }

      @media (max-width: 991px) {
         padding-right: 8px;
      }

      &:last-child {
         border-right: none;
         padding-right: 0px;
      }
   }

   &__link {
      color: #ffffff;
      font-weight: 300;
      font-size: 15px;

      @media (max-width: 1200px) {
         font-size: 13px;
      }

      @media (max-width: 991px) {
         font-size: 10px;
      }

      @media (max-width: 767px) {
         font-size: 20px;
      }
      
      @media (max-width: 575px) {
         font-size: 15px;
      }
   }
}