//Компонент .promo
.promo {
   min-height: 800px;
   background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
   padding: 190px 0 135px 0;

   &_header {
      font-weight: 900;
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
      text-align: center;
   }

   &_subheader {
      font-weight: 700;
      line-height: 36px;
      font-size: 36px;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
      margin-top: 22px;
      text-align: center;
   }

   &_descr {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      margin-top: 23px;
      text-align: center;
   }

   &_btn {
      display: block;
      margin: 118px auto 0 auto;
      background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      width: 259px;
      height: 63px;
      border: none;
      color: #ffffff;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
      font-weight: 400;
      font-size: 18px;
      @include btn_hover;
   }
}