//Компонент .reasons
.reasons {
   margin-bottom: 50px;
   margin-top: 19px;

   &_block {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;

      @media (max-width: $lg) {
         flex-direction: column;
         align-items: center;
         justify-content: start;
      }
   }

   &_block:nth-child(-n + 2) {
      margin-top: 0px;
   }

   &_round {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 26px;
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%;

      @media (max-width: $md) {
         margin-right: 0;
      }

      @media (max-width: $xs) {
         width: 100px;
         height: 100px;
      }
   }

   &_text {
      width: 371px;

      @media (max-width: $xl) {
         width: 300px;
      }
      @media (max-width: $xs) {
         width: 100%;
      }
   }

   &_tittle {
      color: #1eacc7;
      font-weight: 400;
      font-size: 17px;

      @media (max-width: $lg) {
         margin-top: 10px;
      }
      @media (max-width: $xs) {
         margin-top: 20px;
      }
   }

   &_subtittle {
      color: #202020;
      font-weight: 300;
      font-size: 15px;
   }
}