.require {
   padding: 68px 0 56px 0;

   &__block {
      margin: 33px 0;

      &_nmb {
         margin-bottom: 0px;
      }
   }

   &__title {
      color: #1ca8c3;
      font-size: 22px;
      font-weight: 400px;
   }

   &__list {
      list-style-type: none;
      padding-left: 50px;
      margin-top: 22px;

      li {
         position: relative;
         font-weight: 300;
         font-size: 17px;
         margin-bottom: 10px;

         &::before {
            content: '';
            display: block;
            position: absolute;
            left: -32px;
            top: 3px;
            width: 21px;
            height: 20px;
            background: url(../img/check.png) center (center / cover) no-repeat;

         }
      }
   }
   .warning {
      .require__title {
         color: $second_color
      }
      .require__list {
         li {
            &::before {
               background: url(../img/check_red.png) center (center / cover) no-repeat;
            }
         }
      }
   }
}