
//Компонент .subheader
.subheader {
   height: 84px;
   background: rgba(0, 0, 0, 0.6);
   position: absolute;
   width: 100%;
   top: 50px;

   @media (max-width: 575px) {
      height: 60px;
      top: 29px;
   }

   &_logo {
      display: block;
      max-width: 100%;
      margin-top: 16px;
      & img {
         @media (max-width: 991px) {
            width: 100%;
         }
      }
   }

   &_official {
      margin-top: 6px;
      font-weight: 100;
      font-size: 13px;
      color: white;

      @media (max-width: 991px) {
         font-size: 11px;
      }
      @media (max-width: 575px) {
         display: none;
      }
   }

   &_call {
      color: white;
      font-size: 12px;
      font-weight: 300px;
      margin-top: 19px;
   }

   &_phone {
      margin-top: 8px;
      color: white;
      font-weight: 400;
      font-size: 22px;
      line-height: 12px;
      text-align: right;
      text-transform: uppercase;

      @media (max-width: $lg) {
         margin-top: 10px;
         font-size: 16px;
         font-weight: 400;
         text-align: center;
      }
      @media (max-width: $xs) {
         font-weight: 400;
         font-size: 12px;
      }
      
   }

   &_btn {
      margin-top: 19px;
      width: 172px;
      height: 46px;
      background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
      box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
      border: none;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
      @include btn_hover;

      @media (max-width: 991px) {
         margin-top: 21px;
         height: 40px;
         width: 100%;
      }
      @media (max-width: 767px) {
         width: 200px;
         height: 40px;
         margin: 0 auto;
         display: block;
         margin-top: 10px;
      }
      @media (max-width: $xs) {
         width: 110px;
         height: 22px;
         margin: 0 auto;
         display: block;
         font-weight: 400;
         font-size: 10px;
         margin-top: 6px;
      }
   }
   &_right {
      text-align: right;
   }
}
