//Компонент .title
.title {
   display: block;
   text-align: center;
   text-transform: uppercase;
   color: #222222;
   font-weight: 700;
   font-size: 38px;
   line-height: 36px;
   margin-bottom: 16px;
}