//Компонент .title
.title {
   text-align: center;
   text-transform: uppercase;
   color: #222222;
   font-weight: 700;
   font-size: 38px;
   margin-bottom: 16px;

   @media (max-width: 575px) {
      font-weight: 700;
      font-size: 16px;
   }
}

.title_white {
   color: white;
   // position: relative;
}

.title_xs {
   @media (max-width: $xs) {
      margin-bottom: 0px;
   }
}