//Variables
$bg_color: #1eacc7;
$second_color: #ff5656;

$xs: 575px; 
$md: 768px;
$lg: 991px;
$xl: 1200px;


//mixins
@mixin btn_hover {
   &:hover {
      background-image: none;
      background-color: $bg_color;
   }
}

//visible
.xs-hiden {
   @media (max-width: 768px) {
      display: none;
   }
}

.xs-visible {
   display: none;

   @media (max-width: 768px) {
      display: block;
   }
}