.world {
   background: #080816;


   &__bg {
      background: url(../img/bg/world_bg.png) center (center / cover) no-repeat;
      padding: 46px 0 50px 0;
      height: 717px;

      @media (max-width: $md) {
         padding: 24px 0 29px 0;
         height: 360px;
      }
   }

   &__link {
      display: block;
      text-align: center;
      margin-top: 480px;

      @media (max-width: $md) {
         margin-top: 120px;
         font-weight: 400;
         font-size: 15px;
      }
   }
}